<!DOCTYPE html>
<html lang="en">

<head>
    <title>Naujienos from {{provider}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>



    <h1>Naujienos from provider: {{provider}}</h1>
    <form action="/" method="POST">
        <input type="text" name="provider" placeholder="provider" />
        <input type="submit" value="Submit" />
    </form>
    <hr/> {% for article in articles %}
    <b><a href="{{article.link}}">{{article.title}}</a></b><br/>
    <i>{{article.published}}</i><br/>
    <p>{{article.summary}}</p>
    <hr/> {% endfor %}
</body>

</html>